
ion-label{
    border-left: 2px var(--ion-color-secondary) solid;
    padding-left: 10px;
}
h4{
    color: var(ion-color-primary-shade);
}
.units{
    color: var(--ion-color-primary-shade)!important;
}
.stockist{
   font-weight: 300;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.action{
    color: grey;
}