<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">
      Courses Details
    </ion-title>
    <ion-buttons slot="end">
       <ion-button class="btn-outline"><ion-icon name="chatbox-outline"></ion-icon> Forums</ion-button>
    </ion-buttons>
  </ion-toolbar>
  </ion-header>
  <ion-tabs>
    <ion-tab-bar slot="bottom" class="tabbar">
      <ion-tab-button tab="overview">
        <ion-icon name="color-palette-outline"></ion-icon>
        <ion-label>Overview</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="lessons">
        <ion-icon name="easel-outline"></ion-icon>
        <ion-label>Lessons</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="live-class" >
        <ion-icon name="radio-outline"></ion-icon>
        <ion-label>Live Class</ion-label>
       </ion-tab-button>
       <ion-tab-button tab="exercises" >
        <ion-icon name="scale-outline"></ion-icon>
        <ion-label>Exercises</ion-label>
       </ion-tab-button>
       <ion-tab-button tab="exams" >
        <ion-icon name="stopwatch-outline"></ion-icon>
        <ion-label>Exams</ion-label>
       </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  