ion-content{
  --background: #fff;

  ion-card{
    margin-top: -70%;
    padding-bottom: 30px;
    .heading{
      min-width: 100%;
      text-align: center;
      padding: 10px;
      padding-bottom: 30px;
      color: var(--ion-color-primary);
      font-weight: bold;
    }
    ion-icon{
      color: var(--ion-color-primary);
    }
    ion-button{
      margin-top: 15px;
    }
  }


  .design{
    z-index: -1;
    .circle{
      background: rgb(255,255,255);
      background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(14,28,56,1) 0%, rgba(41,83,159,1) 48%, rgba(41,83,159,1) 100%);
      
    }
    
    .circle1{
      height:400px;
      width:100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -30%;
      margin-left: -60px;
      border-radius: 50%;
      //background-color:#0E1C38;
    
      .img-circle{
        border-radius: 50%!important;
      }
    }

    .circle2{
      height:200px;
      width:200px;
      margin-bottom: 0;
      position: absolute;
      border-radius: 50%;
    }
    .circle3{
      height:100px;
      width:100px;
      margin-bottom: 0;
      position: absolute;
      border-radius: 50%;
      margin-top: 55%;
    }

    .circle4{
      height:50px;
      width:50px;
      margin-bottom: 0;
      position: absolute;
      border-radius: 50%;
      margin-top: 88%;
      margin-left: -15px;
    }
  }

  .footer-note{
    display: flex;
    position:absolute;
    justify-content: center;
    align-items: center;
    bottom: 5px;
    width: 100%;
    color: gray;
  }
}