<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-menu-button></app-menu-button>
    </ion-buttons>
    <ion-title>
      Notice Board
    </ion-title>
    
    <ion-buttons slot="end">
      <ion-back-button mode='ios'></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

<div *ngIf="loaded">

<ion-list-header *ngIf="notices.annoucements.length>0">
   <h3 class="haspadding">Announcements <small>(Scoll for more, tap for details)</small></h3>
</ion-list-header>
<p class="no-data" *ngIf="isEmpty()">
  No Noticeboard data  available
</p>
<ion-slides mode="ios"   pager="true" [options]="slideOpts" class="anouncements">
  <ion-slide (click)="showNotice(announcent)"  *ngFor="let announcent of notices.annoucements">
    <h3 [innerHtml]="announcent.title || 'Tap for details'">
    </h3>
    <!-- <p>
      <small [innerHtml] ="announcent.description | slice:0:100"></small>
     </p> -->
  </ion-slide>
  </ion-slides>

  <ion-list *ngIf="notices.college_discussions.length>0">
    <ion-list-header>
      <h3>College Discussions</h3>
    </ion-list-header>
    <ion-item (click)="showNotice(dis)" *ngFor="let dis of notices.college_discussions">
      <ion-avatar slot="start">
        <ion-icon class="success" name="chatbubble-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h3>{{ dis.title }}</h3>
        <p>{{ dis.description}}</p>
        <p><ion-icon name="timer-outline"></ion-icon> {{ dis.timestamp }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="notices.course_discussions.length>0">
    <ion-list-header>
      <h3>Course Discussions</h3>
    </ion-list-header>
    <ion-item (click)="showNotice(dis)" *ngFor="let dis of notices.course_discussions">
      <ion-avatar slot="start">
        <ion-icon class="warning" name="chatbubble-ellipses-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h3>{{ dis.title }}</h3>
        <p>{{ dis.description}}</p>
        <p><ion-icon name="time-outline"></ion-icon> {{ dis.timestamp }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list  *ngIf="notices.upcoming_exercises.length>0">
    <ion-list-header>
      <h2>Upcoming Exercises</h2>
    </ion-list-header>
    <ion-item (click)="showNotice(ex)" *ngFor="let ex of notices.upcoming_exercises">
      <ion-avatar slot="start">
        <ion-icon class="info" name="clipboard-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h3>{{ ex.title }}</h3>
        <p>{{ ex.description}}</p>
        <p><ion-icon name="time-outline"></ion-icon> {{ ex.startTime }} - {{ ex.closeTime }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="notices.upcoming_tests.length>0">
    <ion-list-header>
      <h3>Upcoming Tests</h3>
    </ion-list-header>
    <ion-item  (click)="showNotice(ex)" *ngFor="let ex of notices.upcoming_tests">
      <ion-avatar slot="start">
        <ion-icon class="dull" name="book-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h3>{{ ex.name }}</h3>
        <p class="success">{{ ex.allocationCriteria}} &nbsp;&nbsp; | &nbsp;&nbsp; {{ ex.totoalQuestions}} Questions  </p>
       </ion-label>
    </ion-item>
  </ion-list>

</div>

</ion-content>